@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Figtree-Medium.ttf") format("ttf");
}

@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/Figtree-ExtraBold.ttf") format("ttf");
}

:root {
  --color-yellow: #f4d04e;
  --color-gray-950: #111111;
  --color-gray-500: #6b6b6b;
  --color-white: #ffffff;
  --font-size-preset-3: 0.875rem;
  --font-size-preset-2: 1rem;
  --font-size-preset-1: 1.5rem;
  --font-family: "Figtree", sans-serif;
  --line-height: 150%;
}

body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-yellow);
}

.blog-preview-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
  width: 24rem;
  height: 32.625rem;
  padding: 1.5rem;
  background-color: var(--color-white);
  border-radius: 1.25rem;
  border: 0.0625rem solid var(--color-gray-950);
  filter: drop-shadow(0.5rem 0.5rem 0 var(--color-gray-950));
}

.illustration {
  width: 21rem;
  height: 12.5rem;
  border-radius: 0.625rem;
}

.blog-preview-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 21rem;
  height: 12.125rem;

  & *,
  & + .blog-preview-card__author {
    font-family: var(--font-family);
    line-height: var(--line-height);
  }
}

.content__tag,
.content__date,
.content__header,
.author__name {
  color: var(--color-gray-950);
}

.content__date,
.content__description {
  font-weight: 500;
}

.content__tag,
.content__header,
.author__name {
  font-weight: 800;
}

.author__name,
.content__date,
.content__tag {
  font-size: var(--font-size-preset-3);
}

.content__tag {
  width: 5.125rem;
  height: 1.8125rem;
  background-color: var(--color-yellow);
  margin: 0;
  text-align: center;
  align-content: center;
  border-radius: 0.25rem;
}

.content__header {
  font-size: var(--font-size-preset-1);

  &:hover,
  &:focus {
    color: var(--color-yellow);
    cursor: pointer;
  }
}

.content__description {
  font-size: var(--font-size-preset-2);
  color: var(--color-gray-500);
}

.blog-preview-card__author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8.0625rem;
  height: 2rem;
}

.author__photo {
  width: 2rem;
  height: 2rem;
}
